<div class="signup-container">
    <h2>Signup</h2>
    
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
        <small *ngIf="signupForm.controls['name'].invalid && signupForm.controls['name'].touched">
            Name must be at least 3 characters long.
        </small>
          
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
        <small *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched">
            Enter a valid email.
        </small>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
        <small *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
            Password must be at least 6 characters long.
        </small>
          
      </div>
  
      <button type="submit" [disabled]="signupForm.invalid">Signup</button>
    </form>
  
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  